@import url('https://fonts.googleapis.com/css?family=Caprasimo');

h1{
    font-family: 'Caprasimo';
    text-align: center;
    color: #63a97b;
}

p {
    text-align: start;
}

body {
    background-color: blanchedalmond;
}

head {
    text-shadow: 2px 2px 5px greenyellow;
}