@import url('https://fonts.googleapis.com/css?family=Caprasimo');

h1{
    text-align:start;
    color:rgb(112, 163, 35);
}

h2 {
    text-align: center;
    color: #000;
}

p {
    text-align: start;
}

body {
    background-color:rgb(230, 230, 255);
}

h1.caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}
  