@import url('https://fonts.googleapis.com/css?family=Caprasimo');

h1{
    text-align: center;
    color: #63a97b;
}

p {
    text-align: start;
}

body {
    background-color: blanchedalmond;
}

head {
    text-shadow: 2px 2px 5px greenyellow;
}

h1.caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
  }
  